{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Doloremque maxime obcaecati quod repellendus!</li>
    <li>Corporis fuga minima mollitia saepe.</li>
    <li>Amet architecto ducimus eveniet tenetur!</li>
    <li>Asperiores facilis laboriosam recusandae soluta.</li>
    <li>Ab aut eaque illum laboriosam!</li>
    <li>Alias maiores quibusdam repellendus voluptatibus!</li>
    <li>In inventore numquam odio repudiandae?</li>
    <li>Architecto ea in odit quo.</li>
    <li>A fugiat qui velit voluptate!</li>
    <li>Dolor et explicabo nemo optio?</li>
    <li>Consequuntur eos itaque nihil unde.</li>
    <li>Aliquam aperiam itaque quidem sed.</li>
    <li>Ad atque nam rerum voluptates.</li>
    <li>Dolore et libero nostrum veritatis!</li>
    <li>Eos facilis neque reiciendis voluptas.</li>
    <li>Doloribus ipsa iure minus unde!</li>
    <li>Deserunt dolorem error ipsam provident?</li>
    <li>Dolore laboriosam quis ratione sit?</li>
    <li>Blanditiis dicta in quasi voluptates!</li>
    <li>Adipisci earum hic necessitatibus quos.</li>
    <li>Consequuntur est et iusto veniam?</li>
    <li>Iure saepe tempore veniam voluptatem.</li>
    <li>Beatae corporis dolores magni placeat.</li>
    <li>Animi ea molestias odit quos.</li>
    <li>Adipisci dicta minima quibusdam suscipit!</li>
    <li>Ea excepturi nam repellendus vel.</li>
    <li>Assumenda culpa dolor magnam perspiciatis.</li>
    <li>Accusamus corporis deserunt eligendi perspiciatis.</li>
    <li>Aperiam ex magnam natus repudiandae.</li>
    <li>Animi error et non rerum?</li>
    <li>Est optio provident sequi voluptatem.</li>
    <li>Iste itaque tempora tenetur veniam!</li>
    <li>Alias animi aperiam nisi obcaecati.</li>
    <li>A aut impedit iusto porro?</li>
    <li>Harum incidunt quae quos tempora.</li>
    <li>Iusto minima repudiandae sed sint!</li>
    <li>Dignissimos libero similique tempore voluptatibus!</li>
    <li>Alias architecto inventore minus quis.</li>
    <li>Dolores fugiat quaerat repudiandae voluptatem.</li>
    <li>Alias aspernatur magni quibusdam suscipit.</li>
    <li>Assumenda fugit necessitatibus perspiciatis sequi.</li>
    <li>At expedita porro quae tenetur.</li>
    <li>Aliquid hic libero rem voluptatibus!</li>
    <li>Hic id numquam porro sunt.</li>
    <li>Commodi debitis dicta excepturi rem?</li>
    <li>Accusantium aliquam nisi nulla perspiciatis.</li>
    <li>Aperiam aspernatur natus repellat sit.</li>
    <li>Illo sed similique unde ut!</li>
    <li>Commodi cum ducimus enim est.</li>
    <li>Amet incidunt quia rem voluptatum!</li>
    <li>Ab fugit natus quae ut?</li>
    <li>A iusto suscipit voluptas voluptatem.</li>
    <li>Assumenda deserunt fuga in reiciendis?</li>
    <li>Eius excepturi expedita inventore quod.</li>
    <li>Accusantium cum fugiat reiciendis repudiandae!</li>
    <li>Explicabo fuga ipsa placeat quas.</li>
    <li>Consequuntur dolor facilis ipsum ullam.</li>
    <li>Atque non, rerum? Ab, eaque.</li>
    <li>Doloribus non odio quisquam vero.</li>
    <li>Accusantium aperiam beatae quae quibusdam!</li>
    <li>Minima, sequi, ullam? Deleniti, fugiat.</li>
    <li>Aliquam corporis fugit in non.</li>
    <li>Aliquid fuga magni perferendis temporibus.</li>
    <li>Accusamus cumque ipsam quos sapiente.</li>
    <li>Architecto culpa laboriosam nostrum provident.</li>
    <li>Quis, repudiandae, saepe. Cum, labore.</li>
    <li>Doloremque facilis quibusdam quod sunt!</li>
    <li>Aspernatur labore minus omnis soluta.</li>
    <li>Beatae delectus fugit quae voluptas.</li>
    <li>Accusamus iusto perspiciatis possimus quisquam.</li>
    <li>Aliquid dolores fuga laborum molestias?</li>
    <li>Dolorum fugiat perferendis similique temporibus.</li>
    <li>Eligendi neque obcaecati rerum voluptates.</li>
    <li>Deserunt error id libero unde!</li>
    <li>Consequuntur maiores quo tempora voluptatum.</li>
    <li>Architecto dolore facilis mollitia quas.</li>
    <li>Atque itaque mollitia qui repudiandae.</li>
    <li>Dicta laudantium quasi quidem sed.</li>
    <li>Asperiores aut debitis porro totam!</li>
{% endblock %}